*{
	box-sizing: border-box;
}
.main{
	display: grid;
	background: grey;
	text-align: center;
}
.sidebar{
	display: flex;
	padding: 30px;
	margin: 20px 20px;
	background: lightgrey;
	color: brown;
	font-size: 21px;
}
.sidebar a{
	text-decoration: none;
	padding: 30px;
	flex: right;
	text-align: center;	
	align-items: center;

}
@media (min-width: 1000px){
	.main{
		display: flex;
		text-align: center;
	}
	.sidebar{
		display: grid;
		grid-column: span 1;
		grid-row: span 1;
		text-align: center;
	}
	.item{
		display: grid;
		grid-width:auto;
	}
}
.container{
	flex: 1 1 80%;
	padding: 5px;
	margin: 20px 20px;
	display: grid;
	box-sizing: border-box;
	grid-template-columns:repeat(5, 1fr);
	grid-template-rows:repeat(6, 1fr);
	grid-gap:.5em;
}
.item:hover{
	filter: opacity(100%);
	font-size: 30px;
}

.item{
	background: black;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	min-height: 100px;
	filter: opacity(80%);
}

.head{
	background-size: cover;
	grid-column:1/6;
	grid-row:1/2;
	justify-content: left;
	padding: 5%;
	filter: opacity(100%);
}
.one{
	background-image:url("images/1.jpg");
	background-size: cover;
	grid-column:span 2;
	grid-row:span 2;
	min-height: 300px;

}
.two{
	background-image: url("images/2.jpg");
	background-size: cover;
	grid-column:span 3;
	grid-row:span 3;

}

.three{
	background-image: url("images/3.jpg");
	background-size: cover;
	grid-column:span 2;
	grid-row:span 2;
}
.four{
	background-image: url("images/4.jpg");
	background-size: cover;
	grid-column:span 1;
	grid-row:span 1;
}
.five{
	background-image: url("images/5.jpg");
	background-size: cover;
	grid-column:span 2;
	grid-row:span 3;
}
.six{
	background-image: url("images/6.jpg");
	background-size: cover;
	grid-column:span 3;
	grid-row:span 2;
}